on: workflow_dispatch

jobs:
  assess-policy-compliance:    
    runs-on: ubuntu-latest
    steps:
    # Azure Login       
    - name: Login to Azure
      uses: azure/login@v1
      with:
        creds: ${{secrets.AZURE_CREDENTIALS}} 
    
    - name: Check for resource compliance
      uses: azure/policy-compliance-scan@v0
      with:
        scopes: |
          /subscriptions/c7bc7bd3-8451-495a-a410-ef087fe3e67a
          /subscriptions/b1b04fcb-50c6-4e41-aa72-3e5daacb1012
          /subscriptions/a31b5028-6b34-40c7-aa41-7a7573318434
          /subscriptions/51a50966-2a8c-4b5c-a01a-0ea860e79338
          /subscriptions/136b79e1-c8a4-4bf3-a08d-c521690cc17e
          /subscriptions/801b2729-bf9e-47a4-ba88-7ab81d075450
          /subscriptions/5b2e2625-503e-4b3f-97b9-6ed8d2373894
          /subscriptions/9bbba7a5-d425-4e43-971d-7d8ec4e5bf6c
          /subscriptions/1c12ff31-8f5b-4b89-8963-97cebff09e9c
          /subscriptions/98cde2c5-10d9-41df-8fe4-08986fad0712
          /subscriptions/d0083fbe-4c27-45e6-bd54-6cdc7629fd2e
          /subscriptions/d8bbae40-ff42-4e9a-8fae-9c62b76a50d5
          /subscriptions/2ab21b37-4811-4db5-9a55-b4b4ccd285af
          /subscriptions/d17cc82f-9b88-4314-9531-dbe17c1e580b
          /subscriptions/0cbd8e66-dab4-48fe-a8d2-4a4f24b19d7c
          /subscriptions/3d9336c2-fb72-44a1-a70b-6e186adc96f7
          /subscriptions/9a47fc7d-581b-49a2-94b5-560db88817b8
          /subscriptions/edca54ed-6819-43e0-9622-c88f524de03c
          /subscriptions/892bcd78-cbf3-4cfb-9f5c-49d612fabab9
          /subscriptions/49d3673a-6a09-45d1-a1a3-f12fb87ab50b
          /subscriptions/d7ac5a90-418b-4830-a936-25f81dbb6d4b
          /subscriptions/186145f0-7eee-4881-b5c7-97ae60b80a4c
          /subscriptions/04a029ef-5d7c-4668-8cf9-7d3314aea643
          /subscriptions/cd68972f-924e-473e-97da-1c43a9471228
          /subscriptions/6d563cde-2507-4a44-b084-fb681fa7f943
          /subscriptions/c91df8e1-e4d2-4582-9641-1899cb648b30
          /subscriptions/6cc54888-b71c-42b6-984c-bf6bc5d1aacc
          /subscriptions/6fd36122-b3f2-4495-a9d7-203b2265d401
          /subscriptions/3844cf56-e4fb-4b10-a099-744139d28868
          /subscriptions/b129b45f-2d70-4bdd-9f49-dd7b65a56970
          /subscriptions/ca68d313-bf57-40db-ab2d-b2fef0fba732
          /subscriptions/d9f23541-bb05-44c7-a25a-33f85280d6f0
          /subscriptions/acccbc34-6f84-474f-9216-d9cf76f826e0
          /subscriptions/f023aafa-8e47-4703-b9da-7de0ea375963
          /subscriptions/0b460d7b-266f-463e-9bcb-747034b83a7a
          /subscriptions/c914d814-4f8a-41ef-92c7-a7ba560dfac6
          /subscriptions/bb68e5f4-05c8-45b4-939b-e2482e6a59d1
          /subscriptions/ddd91933-7a52-4f41-9adf-4950e1d591b0
          /subscriptions/4d4f7789-8fc8-4266-b212-4f9478006aa9
          /subscriptions/47f8af70-b080-4f31-a4b6-8251b3b01efc
          /subscriptions/d1a741bc-db6d-4b20-9d3e-e14a0fbef96c
          /subscriptions/faec8f43-d243-4753-8553-07687f5954c3
          /subscriptions/58caac05-cd44-4baf-9d75-3df3698031f4
          /subscriptions/dc410ba2-14a4-4f0f-b20b-43337b50e7a3
          /subscriptions/952ccc11-a82f-481a-9cc6-e99501f3a77e
          /subscriptions/41510044-3621-42cb-875e-25526abd21f4
          /subscriptions/1bcf5fb3-48b9-49ac-a6e0-1124bb8a3781
          /subscriptions/17ab423d-0d22-421d-8a9a-4a36fe343db0
          /subscriptions/8fe50f68-f518-45e1-aa61-87611def3f91
          /subscriptions/c8796b16-2f68-40f9-acd5-01a279f13cb9
          /subscriptions/353124a3-6892-4da3-8701-e444d03e4a9e
          /subscriptions/422a4f54-057d-433d-b770-c28ddefa8ebe
          /subscriptions/526e229c-c70b-4408-ba85-01b7fd1f8b7d
          /subscriptions/ceed985d-c166-4126-9236-562cca66fffd
          /subscriptions/7e81ff13-8e77-4d25-addd-c64df645c666
          /subscriptions/053cb79f-da73-4ff2-8c7d-105a720756fc
          /subscriptions/427c40b4-2138-45e9-b4cd-f5ea3e2c4d16
          /subscriptions/bd903403-1123-4c6a-b08c-e338f3aa256b
          /subscriptions/7ca4189f-4603-4b89-a6c7-bd689af02ec7
          /subscriptions/567b0c47-457a-4bec-9e8e-9101f3d984f2
          /subscriptions/101f3489-ddfa-44eb-ad39-dbef57637ce2
          /subscriptions/265a315b-626e-44fd-9e5f-06dcfa2b4219
          /subscriptions/91457c5b-60fd-4910-bfeb-a4cb343f1ffb
          /subscriptions/ef10e75e-e0ef-4898-9b1d-93fbe15a958f
          /subscriptions/e4694a79-e3e2-422a-88fe-dac1533c6eca
         
  
        report-name: ingkarun2

        

