on: workflow_dispatch

jobs:
  assess-policy-compliance:    
    runs-on: ubuntu-latest
    steps:
    # Azure Login       
    - name: Login to Azure
      uses: azure/login@v1
      with:
        creds: ${{secrets.AZURE_CREDENTIALS}} 
    
    - name: Check for resource compliance
      uses: azure/policy-compliance-scan@v0
      with:
        scopes: |
          /subscriptions/dfc15e27-5385-43bf-b71a-f754f2cb7115
          /subscriptions/f9a7b2bc-5b26-4d8e-bb68-56a94f06ca01
          /subscriptions/58f8087c-98b9-47b8-ab43-f37ca527d425
          /subscriptions/ac6c39d5-4612-47c4-9b6b-bffa94870cfc
          /subscriptions/81fd114a-2418-4eb7-9744-774d82cf2067
          /subscriptions/cb4c991f-b871-41c9-a53d-3366ba184e5e
          /subscriptions/2b02f2ae-3719-4b54-98e5-577b7e51090c
          /subscriptions/be25e490-1d97-4ede-801e-02e8d123060c
          /subscriptions/d88a031e-8096-4a58-9dd1-1291cf7add5d
          /subscriptions/4536b158-3766-4e93-a3bb-cc7b80c987b3
          /subscriptions/3f5856ce-461d-4b28-bb96-578e90c35968
          /subscriptions/efc9e22f-81e1-4360-90e2-8f2aa6f7eac8
          /subscriptions/01cba89d-9bbc-46d8-93ae-b7259c0a2ce5
          /subscriptions/066338cf-474f-41ad-a312-3b24c176f9b5
          /subscriptions/c2aff660-6031-432e-8599-465f45a072df
          /subscriptions/a0c32676-fa9f-4da4-b11f-8e27f0b2af16
          /subscriptions/73dd97e3-4d0d-421c-9a9a-c2bf50e9ac80
          /subscriptions/d6afebd9-73ff-49e8-9545-81837f37e3b9
          /subscriptions/ab71dacd-aa49-40d4-8c5c-ef507586d23c
          /subscriptions/ff761409-fc0e-407c-97ac-9b6f0a3891e2
          /subscriptions/5a773da1-0ef4-4fda-b309-258d7878aff6
          /subscriptions/73529282-37b8-4216-aea9-8175f0281ed2
          /subscriptions/5b465c0a-4b4d-4837-9253-172211210f06
          /subscriptions/6cc28d84-40f1-46ed-a5cd-0ef878c9a7ec
          /subscriptions/09b395a7-6a68-4605-a157-47a00813373a
          /subscriptions/a331c1fc-2bbd-40ba-ba09-2193ea5cf85d
          /subscriptions/064f430e-551a-4fa1-a21a-d9b34100e284
          /subscriptions/7e83f129-81e9-4fcf-aebb-b5ef5dcda3e5
          /subscriptions/bf8463dc-ff45-4f35-96f8-85831dde56d9
          /subscriptions/83c36489-0a60-45d7-bda9-953baaee4312
          /subscriptions/d62f508a-9680-422f-8726-e67888480033
          /subscriptions/e1002b69-5664-4b20-9150-34e2e40be793
          /subscriptions/c24efc5e-9819-4122-af48-21b850173405
          /subscriptions/4bcebb69-a341-47b6-9657-e239000fc88b
          /subscriptions/33aeb191-3fc3-45de-9971-ff76dd37e096
          /subscriptions/56facd89-55e2-4bcd-b26b-b00670aa09b4
          /subscriptions/92e37278-26cd-425a-9a68-1a435b5906b3
          /subscriptions/9043d78e-29ef-4840-bcfe-e144b2ddbece
          /subscriptions/73377d13-701b-42be-8f15-27b5e0e9897f
          /subscriptions/0ada2907-e5ad-4bb3-8396-1d2e48d5842e


         
  
        report-name: ingkarun2

        

