on: workflow_dispatch

jobs:
  assess-policy-compliance:    
    runs-on: ubuntu-latest
    steps:
    # Azure Login       
    - name: Login to Azure
      uses: azure/login@v1
      with:
        creds: ${{secrets.AZURE_CREDENTIALS}} 
    
    - name: Check for resource compliance
      uses: azure/policy-compliance-scan@v0
      with:
        scopes: |
            /subscriptions/4c92f5b2-0db8-4887-af5e-6430f569dad4
            /subscriptions/b0238909-8fcd-484d-86ea-0a232d38946f
            /subscriptions/8fbff860-4cf3-4de9-bf1d-2020cbef3c9b
            /subscriptions/872e01f5-cbb0-4010-a577-58161e3e735c
            /subscriptions/17077489-ee6e-4e1c-8e89-e089b6f7c342
            /subscriptions/a1c2cddd-d0b2-4119-b3d8-6e05a0aa0ea8
            /subscriptions/ce4ad896-1bbc-4cb2-9c3b-5ecd48547acc
            /subscriptions/58593701-f762-43be-ab1c-ff7cb23a7984
            /subscriptions/9fd2327a-1823-4423-a347-01e93db8d763
            /subscriptions/416a0294-e770-42fd-99d9-bf96e18fbc5a
            /subscriptions/0c085d32-1079-4186-b1d1-91550da611b1
            /subscriptions/9f58f678-e535-48f1-9b96-e53ce34365f4
            /subscriptions/535d3266-754b-45c2-97a0-b6ab99332dc7
            /subscriptions/d1e67b3b-08e9-4b80-a5eb-c0cf5bf09235
            /subscriptions/0e1a5200-706e-464d-b492-c3b0131e8caf





        
        report-name: ingkarun3
