on: workflow_dispatch

jobs:
  assess-policy-compliance:    
    runs-on: ubuntu-latest
    steps:
    # Azure Login       
    - name: Login to Azure
      uses: azure/login@v1
      with:
        creds: ${{secrets.AZURE_CREDENTIALS}} 
    
    - name: Check for resource compliance
      uses: azure/policy-compliance-scan@v0
      with:
        scopes: |
          /subscriptions/fb87d0bc-7a57-4e63-ba2b-858bc20fec8a
          /subscriptions/21c378c2-c1d2-40cf-ad91-1c09cdd6216c
          /subscriptions/874d06d7-2a54-4d01-b359-144ac00bdac2
          /subscriptions/84fbe2d2-6077-4234-b04a-74560802cf5a
          /subscriptions/631b218b-af0e-4989-8041-c2dac4b44aee
          /subscriptions/36c91948-355a-4ded-ad65-959d5636e505
          /subscriptions/6412370c-4b6d-40ff-90b9-60c819e2d7ca
          /subscriptions/ba8c8b1a-d245-4d23-b6d9-89f3d3a9069d
          /subscriptions/3b5be010-2c50-4473-aa49-82a6bd08b108
          /subscriptions/756d0e1b-d8e3-4063-82b7-d80f22d1c6e2
          /subscriptions/2245c34d-6884-4c4a-9b2e-eec139bd13d4
          /subscriptions/357fbea8-701d-46f3-8142-3fa91b919b93
          /subscriptions/1ae9fa9a-82e5-4760-b5fe-ccba6d87fe34
          /subscriptions/7dc63e36-dd59-40ee-b90d-7535931c9cfd
          /subscriptions/1ef875f9-e340-47e4-9924-0e8fc1ce70d9
          /subscriptions/6d302991-ce1a-4e4d-81b9-f0cc142fbf04
          /subscriptions/ea8658dd-12f6-4690-b8aa-0d1af94b37e5
          /subscriptions/7dc9cf81-ea32-4dfe-a608-17927055d671
          /subscriptions/44d6c302-18fd-444f-b9ff-fa68efe7886d
          /subscriptions/63b9382a-b3a6-47d6-a190-2684cc35352b
          /subscriptions/2dd970e8-b5ea-4e67-87cb-508e97c41dcc
          /subscriptions/0daf9bf3-94cc-4823-921d-fdb562f62dbb
          /subscriptions/02820ce0-ded4-4c3a-bdbc-e6681ebf3128
          /subscriptions/2527f559-8f8c-4d91-b656-a7666dcb6c3a
          /subscriptions/ad296c26-7180-471b-a543-0a4e2c16f3a5
          /subscriptions/8974f285-fdfb-485b-8c61-c642cff81bdb
          /subscriptions/52b39a63-af3a-4598-b95e-3a853d38a9db
          /subscriptions/6bbd3ca2-8787-4fda-8c15-3ddf5b0ef949
          /subscriptions/579631a0-e9d3-4ace-b731-0bd592d9fb76
          /subscriptions/344f71ab-3afb-4f72-a9f4-86d4f122bfc2
          /subscriptions/f9a94c22-532e-4e96-8e78-aaa104b16cd3
          /subscriptions/55894f45-8dc2-4d8f-afa0-3c736f40cdec
          /subscriptions/a76b6974-b20d-40ad-8f15-f8f407db2731
          /subscriptions/0f0066ac-e068-4353-a5ec-e0707a4ed784
          /subscriptions/78707957-7fdd-4898-a4a0-63ccda245c6c
          /subscriptions/befa98dd-333e-4970-bf04-1e9a46a0c0b2
          /subscriptions/21017d15-cf38-4ee7-8b27-f3009beaeddd
          /subscriptions/68f28c13-00c3-4049-8f0b-738b8ea9d81b
          /subscriptions/a4106439-2405-42db-9f85-913feb148c18
          /subscriptions/53893552-f17a-4c14-9cdf-9b8c4a0c01c6
          /subscriptions/193ea012-8841-41f3-b62a-48a36b04fc20
          /subscriptions/2846920e-f7c9-428c-bbad-d4b58b6420ba
        report-name: ingkarun5
