on: workflow_dispatch

jobs:
  assess-policy-compliance:    
    runs-on: ubuntu-latest
    steps:
    # Azure Login       
    - name: Login to Azure
      uses: azure/login@v1
      with:
        creds: ${{secrets.AZURE_CREDENTIALS}} 
    
    - name: Check for resource compliance
      uses: azure/policy-compliance-scan@v0
      with:
        scopes: |
            /subscriptions/2702c50a-1c29-4561-8528-8ae030eae6b2
            /subscriptions/822b164e-e1ca-49af-8acb-563bd3336f16
            /subscriptions/b682ad7d-c575-4270-91b9-d722398d46be
            /subscriptions/e5ad619d-cbab-4bbd-bd5f-a66ea0aa0f73
            /subscriptions/bf3edbfb-b113-4154-a93f-c27e6d6697ad
            /subscriptions/7df4a2fb-48e1-4f95-9f7e-28c8e1635011
            /subscriptions/211b0b3e-57d0-453d-83bf-af9055b6b041
            /subscriptions/7cc78261-4f24-4cda-b752-a729789d81ea
            /subscriptions/60857b02-313c-469e-8676-e4c9b111de6b
            /subscriptions/666311b8-b846-4ef2-84fd-149dc13804ab
            /subscriptions/6895f653-c7d4-420b-8e56-ac66200e5d8f
            /subscriptions/e665ce3e-67ac-44e7-b74f-f47fb79290ba
            /subscriptions/839d53c6-c8b2-4be2-8391-11d8ea91db69
            /subscriptions/46e5b5b1-9ba9-4705-bfac-ea314cca0e4b
            /subscriptions/255ac7d2-ffec-4b6d-bf62-6360e48bab69
            /subscriptions/37a68fbc-7342-4fb9-9db3-5fd5c53f8700
            /subscriptions/b256e141-f6d0-4511-948d-98b88ea70620
            /subscriptions/73163ad4-c82e-4d34-a1c4-006df8d7b20a
            /subscriptions/cb6fd27f-7ba1-4674-8659-259522715489
            /subscriptions/e39dc8a6-de7c-4821-becd-36e6b578e795
            /subscriptions/27fdf240-8009-43ab-b1e6-8f4dcbcd8c5c
            /subscriptions/cd3f88fb-c505-49d3-a0a7-337b24526c26
            /subscriptions/a5351a6b-e40c-44bb-8fb0-bb47f2b2e238
            /subscriptions/c828b1fe-9834-4f20-95ba-bcac7ec57710
            /subscriptions/8f1e6ea2-3e6d-429d-98d8-50831086d9f4
            /subscriptions/65080ba4-82b1-47df-ae8d-4ae6d69b914c
            /subscriptions/f7827a01-24c0-4d1a-bde3-4361acf66d99
            /subscriptions/f66e4650-a160-4356-b4d4-e7f889558bb6
            /subscriptions/4d940d72-4f21-4a78-8bb4-ae92c93b9e31
            /subscriptions/29dbe35c-f51a-48ce-bbde-8da132d01e75
            /subscriptions/05d44609-f55c-4b77-9905-596c1789585d
            /subscriptions/ecaeee3d-df1b-45ea-96e6-ed85ca9b7e99
            /subscriptions/5acf2dc9-48f9-4384-80d2-99efe6a4cb9f
            /subscriptions/2c1c9eed-60f2-4ced-818f-4964dc40b2e9
            /subscriptions/29d03ad8-9f76-4406-9543-74d7ba8bf797
            /subscriptions/53be4384-17cf-4be8-b637-8fa92dececc0
            /subscriptions/f5c29c34-a70f-4d2b-835b-f8afdd345f80
            /subscriptions/e1e905a4-9cb9-498d-a40a-eb6aa4494a7e
            /subscriptions/75579a34-cc17-4de2-b786-8a6342e4247c
            /subscriptions/aa6a482a-060c-4c13-8364-433a3918226a
            /subscriptions/c7e66eb9-86b9-4490-a3f6-9287d8a8dcc5
            /subscriptions/484e3b77-ebdd-4f73-80b1-2571473a6d57
            /subscriptions/458370e3-15cc-4e67-b206-f7b37a15a0b8
            /subscriptions/c180c8a6-50c6-4e9a-9ff9-a4991c0ba6ea
            /subscriptions/f3f29c19-512f-4619-b5f4-b21bee982cf3
            /subscriptions/3fc4c932-63be-41d2-88b2-596cf5f44305
            /subscriptions/f9a3a73b-bb54-4109-92c7-13e22228de98
            /subscriptions/fe52cb02-2704-4233-ac38-8ba3adf46af0
            /subscriptions/d24df331-ac50-42f9-86a8-380367a143b4
            /subscriptions/71ae6b62-b66e-4856-96a3-544be77db5ed
            /subscriptions/20e54b9d-2882-4898-bb0e-635568be94f6


        report-name: ingkarun7
