on: workflow_dispatch

jobs:
  assess-policy-compliance:    
    runs-on: ubuntu-latest
    steps:
    # Azure Login       
    - name: Login to Azure
      uses: azure/login@v1
      with:
        creds: ${{secrets.AZURE_CREDENTIALS}} 
    
    - name: Check for resource compliance
      uses: azure/policy-compliance-scan@v0
      with:
        scopes: |
          /subscriptions/9d233741-0a33-4779-b653-29b43ca7c77d
          /subscriptions/e33fe4a0-8c6c-4254-bc7e-89bf979e0eee
          /subscriptions/6bee550a-f685-4cab-8401-faa90354d5e4
          /subscriptions/f6430ebd-62c6-41aa-ad23-34c2bc3ddc05
          /subscriptions/79a8df13-5255-4e4c-8a5c-773a68fe8973
          /subscriptions/c9d21b6b-3166-416b-ad9e-0bcff778b6dc
          /subscriptions/5f92eaf8-8a88-4a6b-a066-f39846f90555
          /subscriptions/8b932c52-39fe-44cb-a1c4-7cbae3624396
          /subscriptions/21adafce-69a2-4394-80b7-5b3fe4fdb60d
          /subscriptions/09a37bf7-ac25-484d-b3e5-6ed6b7605f78
          /subscriptions/f394088f-6c52-49df-9b70-0de600614672
          /subscriptions/8761f85b-1b35-4197-a5a9-9d794e472060
          /subscriptions/e880e345-39e4-4239-acaa-ede25c8e0900
          /subscriptions/4d3779ac-b33b-47e4-9489-81305d305042
          /subscriptions/5591d185-39b8-46d7-a588-cc387d3f5fda
          /subscriptions/6019cc95-6cc2-4f5f-b3ca-19c213a27fb2
          /subscriptions/45c585b9-521a-462e-8099-398f45e7399e
          /subscriptions/30cd2329-ef84-4e11-ae44-5e66923256d2
          /subscriptions/5b86f598-01af-4b6e-aeb8-2388b74fefed
          /subscriptions/5d01db64-237f-480f-a7dc-38ab55c51b4f
          /subscriptions/22cb4557-168c-4e6b-aad2-570756536f22
          /subscriptions/1e0f9832-42e2-4632-ba7f-e8e51fd8d711
          /subscriptions/5f1ad776-df00-4824-85ea-61d7bd15968a
          /subscriptions/8fa19517-7655-40fb-a724-e36376fcb9c5
          /subscriptions/3bb0e5ac-a331-40f9-b13d-b211023bacc0
          /subscriptions/86746bc9-fa5b-4685-8254-cce2b3b5b099
          /subscriptions/1dfe1e46-c0da-45a2-a6e7-64a36b433a99
          /subscriptions/a3d51cdf-56fe-443d-b654-cc4b050602e6
          /subscriptions/16aa5e9d-ed17-46bf-9301-86c509702def
          /subscriptions/b9e4917b-6b6a-4f64-aa62-a4bd820cfe80
          /subscriptions/deb74e4c-b610-4162-af8e-ef82291ed52b
          /subscriptions/efd18816-8edc-4eff-a1a3-efd047834a66
          /subscriptions/af8f0fa8-ec9c-436d-b205-81560a4a5767
          /subscriptions/7a16d44f-fa91-45db-8123-ec1f2f16f8da
          /subscriptions/99f877f5-256c-4e39-92bf-34d2fcf28f7c
          /subscriptions/0537e970-2844-40ad-a1de-c7fbe2049ed7
          /subscriptions/bce44f14-3c9d-4f09-ac60-8bc6cc1e073c
          /subscriptions/be0ad929-3126-491f-9658-158898ebf90d
          /subscriptions/2691996b-2443-49b1-ac23-705dddf1df6c

          
        report-name: ingkarun1

        
