on: workflow_dispatch

jobs:
  assess-policy-compliance:    
    runs-on: ubuntu-latest
    steps:
    # Azure Login       
    - name: Login to Azure
      uses: azure/login@v1
      with:
        creds: ${{secrets.AZURE_CREDENTIALS}} 
    
    - name: Check for resource compliance
      uses: azure/policy-compliance-scan@v0
      with:
        scopes: |
          /subscriptions/7e83f129-81e9-4fcf-aebb-b5ef5dcda3e5
          /subscriptions/bf8463dc-ff45-4f35-96f8-85831dde56d9
          /subscriptions/83c36489-0a60-45d7-bda9-953baaee4312
          /subscriptions/d62f508a-9680-422f-8726-e67888480033
          /subscriptions/e1002b69-5664-4b20-9150-34e2e40be793
          /subscriptions/c24efc5e-9819-4122-af48-21b850173405
          /subscriptions/4bcebb69-a341-47b6-9657-e239000fc88b
          /subscriptions/56facd89-55e2-4bcd-b26b-b00670aa09b4
          /subscriptions/92e37278-26cd-425a-9a68-1a435b5906b3
          /subscriptions/9043d78e-29ef-4840-bcfe-e144b2ddbece
          /subscriptions/73377d13-701b-42be-8f15-27b5e0e9897f
          /subscriptions/0ada2907-e5ad-4bb3-8396-1d2e48d5842e
          /subscriptions/4c92f5b2-0db8-4887-af5e-6430f569dad4
          /subscriptions/b0238909-8fcd-484d-86ea-0a232d38946f
          /subscriptions/8fbff860-4cf3-4de9-bf1d-2020cbef3c9b
          /subscriptions/872e01f5-cbb0-4010-a577-58161e3e735c
          /subscriptions/17077489-ee6e-4e1c-8e89-e089b6f7c342


        
        report-name: ingkarun3
