on: workflow_dispatch

jobs:
  assess-policy-compliance:    
    runs-on: ubuntu-latest
    steps:
    # Azure Login       
    - name: Login to Azure
      uses: azure/login@v1
      with:
        creds: ${{secrets.AZURE_CREDENTIALS}} 
    
    - name: Check for resource compliance
      uses: azure/policy-compliance-scan@v0
      with:
        scopes: |
          /subscriptions/a1c2cddd-d0b2-4119-b3d8-6e05a0aa0ea8
          /subscriptions/ce4ad896-1bbc-4cb2-9c3b-5ecd48547acc
          /subscriptions/421ebb14-6da7-4e6b-bbcc-d97e154bce64
          /subscriptions/e7be8e46-4f12-4579-9e89-cf0e2fe73aac
          /subscriptions/58593701-f762-43be-ab1c-ff7cb23a7984
          /subscriptions/9fd2327a-1823-4423-a347-01e93db8d763
          /subscriptions/416a0294-e770-42fd-99d9-bf96e18fbc5a
          /subscriptions/0c085d32-1079-4186-b1d1-91550da611b1
          /subscriptions/9f58f678-e535-48f1-9b96-e53ce34365f4
          /subscriptions/535d3266-754b-45c2-97a0-b6ab99332dc7
          /subscriptions/d1e67b3b-08e9-4b80-a5eb-c0cf5bf09235
          /subscriptions/0e1a5200-706e-464d-b492-c3b0131e8caf
          /subscriptions/36d249da-081a-4108-8dc5-75149551e13d
          /subscriptions/bb1603db-abec-4986-9958-68d787981389
          /subscriptions/32599a1b-f04e-423b-8c35-09a2042d50ed
          /subscriptions/cff0bafd-0500-42b8-91c1-f4038556c1e0
          /subscriptions/9ae1825c-70b7-4f66-8e61-f35ca90c30bc
          /subscriptions/f44674e9-c4cb-4d78-a506-c964d67aeaee
          /subscriptions/95da85ab-36d1-4186-a5aa-999488599671
          /subscriptions/faa85b3c-7034-43f3-9b3e-502a6d366277
          /subscriptions/f7b4a953-55a4-4a4f-abff-73b05e85f516
        report-name: ingkarun7
