on: workflow_dispatch

jobs:
  assess-policy-compliance:    
    runs-on: ubuntu-latest
    steps:
    # Azure Login       
    - name: Login to Azure
      uses: azure/login@v1
      with:
        creds: ${{secrets.AZURE_CREDENTIALS}} 
    
    - name: Check for resource compliance
      uses: azure/policy-compliance-scan@v0
      with:
        scopes: |
          /subscriptions/0e0dddfc-1e5f-47a6-bd54-6560908aaf5f
          /subscriptions/93cb9df7-8c8c-4130-99cc-37310280b1ce
          /subscriptions/3fd7c702-f4f5-4acf-902b-dcd7d5c64eeb
          /subscriptions/bf9ae2fd-f69e-4736-b906-16d8ad884b54
          /subscriptions/721c245b-6f90-471a-bdc0-1eb51b316afe
          /subscriptions/972a0f5c-54bc-443a-99b6-e28dfdaec507
          /subscriptions/fe89463d-00fe-470d-9a60-c0ef156c7984
          /subscriptions/910c755a-ecaa-4644-9536-bc1010e1238f
          /subscriptions/dbef9864-5ebe-42e5-8579-8eafaa81c7e6
          /subscriptions/e0bed798-b6f4-41fb-b7f8-9e308d328ec6
          /subscriptions/be1e52ea-ef03-4e91-bf81-141a7ab473d2
          /subscriptions/c5ea47a4-d481-4237-b3d0-b12f3ad7cc88
          /subscriptions/ccfd9054-fe07-490e-8400-3dfc464d33a4
          /subscriptions/9f307d66-cc88-4773-959e-aca368c3099f
          /subscriptions/442783ba-14bb-462f-b912-5efa06bcb244
          /subscriptions/d44918e4-ec50-47c5-adff-64ad01807927
          /subscriptions/6b32e7b7-b0e4-429c-a245-e52f71950fad
          /subscriptions/368cda6c-e856-40d6-91b7-bf36fba8565d
          /subscriptions/afb52f01-bf44-4b2f-b219-34b25f6c8c03
          /subscriptions/45fd2f7d-83fa-4196-9128-98ac59e49a46
          /subscriptions/f9e17344-b036-458b-82e8-3ce6467a1eab
          /subscriptions/0fcea98a-f569-4bc5-9567-3591abefebef
          /subscriptions/3fe13b42-1fa9-4d30-9909-02ac5bd01762
          /subscriptions/f83ba51d-3b56-4ec2-99fb-84c34488ff21
          /subscriptions/76d77fb9-ccfa-4718-a4c4-8a764f2b2a0d
          /subscriptions/febc5bf5-848a-4cc2-be71-e7ea025f5471
          /subscriptions/2702c50a-1c29-4561-8528-8ae030eae6b2
          /subscriptions/822b164e-e1ca-49af-8acb-563bd3336f16
          /subscriptions/b682ad7d-c575-4270-91b9-d722398d46be
          /subscriptions/e5ad619d-cbab-4bbd-bd5f-a66ea0aa0f73
          /subscriptions/bf3edbfb-b113-4154-a93f-c27e6d6697ad

        report-name: ingkarun4

