on: workflow_dispatch

jobs:
  assess-policy-compliance:    
    runs-on: ubuntu-latest
    steps:
    # Azure Login       
    - name: Login to Azure
      uses: azure/login@v1
      with:
        creds: ${{secrets.AZURE_CREDENTIALS}} 
    
    - name: Check for resource compliance
      uses: azure/policy-compliance-scan@v0
      with:
        scopes: |
          /subscriptions/0fcea98a-f569-4bc5-9567-3591abefebef
          /subscriptions/7ca4189f-4603-4b89-a6c7-bd689af02ec7
          /subscriptions/cb4c991f-b871-41c9-a53d-3366ba184e5e
        report-name: testoutput

        
